@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* a growing underline */
  .bg-growing-underline {
    /* setting width and height */
    background-size: 100% 0.2em;
    @apply bg-bottom bg-no-repeat transition-all  duration-200;
  }
  .bg-growing-underline:hover {
    background-size: 100% 100%;
    color: #0d47a1;
  }
}
